# Dependências
node_modules/

# Variáveis de ambiente
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# IDE / Sistema
.vscode/
.idea/
.DS_Store

# Banco local (se usar futuramente)
*.sqlite
